body {
  background: #efefef;
}

h1 {
  text-align: center;
}

form {
  /* tinggi tabel*/
  /* height: 400px; */
  padding-bottom: 80px;
  background-color: #4b4b4b;
  width: 400px;
  border-radius: 44px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #000000 !important;
}

.jenis_layar {
  width: 30px;
}
.div-btn {
  position: relative;
  bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  background: linear-gradient(92.8deg, #8f00ff 0%, #ff00b8 100%);
  border-radius: 8px !important;
  border: 1px solid #000000 !important;
  color: white !important;
}

.btn:hover {
  /* background: linear-gradient(92.8deg, #ff00b8 0%, #8f00ff 100%); */
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}
select {
  width: calc(100% - 40px) !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  border: 1px solid #000000 !important;
  border-radius: 4px !important;
}

select:hover {
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

label {
  margin-top: 20px;
  margin-left: 40px;
  color: #fff;
}

h1 {
  padding: 50px;
  /* margin-top: 100px; */
}

.hasil {
  height: 100px; /* tinggi tabel*/
  margin-top: 20px;
  margin-left: 20px;
  background-color: #fff;
  width: calc(100% - 40px);
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px !important;
  border: 1px solid #000000 !important;
}

.debug {
  left: 150px;
  background-color: #4b4b4b;
  height: 560px;
  width: 250px;
  border-radius: 6px !important;
  border: 1px solid #000000 !important;
}

.debug > .hasil {
  border-radius: 6px !important;

  /* background-color: #8f00ff; */
  height: 520px;
}
